.collapse{
  margin-left: 200px;
}
.collapse ul{
  margin-left: 100px;
  margin-top: 15px;
}
.collapse ul li{
  list-style: none;
  width: 70px;
}
.collapse ul li a{
  text-decoration: none;
  color: black;
}